* {
    font-family: Monaco, Monospaced, sans-serif;
}

body {
    background-color: #edede9;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 448px;
    background-color: #263238;
    border-radius: 32px;
    box-shadow: 0 5px 16px #333;
}

.screen {
    height: 96px;
    width: 288px;
    margin-top: 16px;
    background-color: #37474F;
    border-radius: 16px;
    display: flex;
    justify-content: end;
}

#display-numbers {
    color: #ECEFF1;
    margin: 0 12px 20px 0;
    line-height: 32px;
    font-size: 54px;
    align-self: flex-end;
}

.button-row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.button-grid {
    width: 288px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    flex: 2;
}

.button {
    flex: 1;
    border: none;
    border-radius: 16px;
    margin: 4px;
    padding: 0;
    font-size: 24px;
    font-weight: bolder;
    background-color: #78909C;
}

.button-operator {
    background-color: #FB8C00;
}

.button.button-clear {
    background-color: #FF5722;
    padding-left: 4px;
    padding-right: 4px;
    flex: 2;
}

.button-copy, .button-backspace {
    background-color: #ECEFF1;
}

.icon {
    display: block;
    margin: auto;
    width: 36px;
    height: 36px;
}

.button.button-operator.button-equals {
    flex: 2;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #ECEFF1;
}

.button:hover {
    background-color: #607D8B;
    cursor: pointer;
}

.button:active {
    background-color: #546E7A;
}

.button-operator:hover {
    background-color: #F57C00;
}

.button-operator:active {
    background-color: #EF6C00;
}

.button.button-clear:hover {
    background-color: #F4511E;
}

.button.button-clear:active {
    background-color: #E64A19;
}

.button.button-backspace:hover, .button.button-copy:hover, .button.button-operator.button-equals:hover {
    background-color: #CFD8DC;
}

.button.button-backspace:active, .button.button-copy:active, .button.button-operator.button-equals:active {
    background-color: #B0BEC5;
}

.button:disabled {
    cursor: default;
    background-color: #555;
}
